@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #8AA624;
  --color-secondary: #DBE4C9;
  --color-tertiary: #FFFFF0;
}